<!DOCTYPE HTML>
<html>
    <head>
        <title>KWS</title>
        <script src="/js/main.js"></script>
        <link href="/css/main.css" rel="stylesheet"/>
    </head>

    <body>
        {{{embed}}}
    </body>
</html>